---
layout: default
title: The open source Creatures engine
---

{% if paginator.page == 1 %}
<article class="intro">

<img src="/images/c1.png" style="float:right; padding-left: 10px"/>


<p><span class="enlarge">openc2e</span> is a free and <a href="http://en.wikipedia.org/wiki/Open_Source_Definition">
open-source</a> game engine for the <a href="https://creatures.wiki/">Creatures</a>
artificial life games.</p>


<p>The goal is to allow you to play games such as Creatures, Creatures 2, Creatures 3, Docking
Station and more, on many different platforms. It is being slowly developed by a team of Creatures hobbyists, and anyone
can modify it under the terms of the <a href="http://www.gnu.org/licenses/lgpl-2.1.html">LGPL</a>.</p>

<p>Want to know more? Come
visit us on the <a href="https://discord.gg/rWFC3b3">Caos Coding Cave Discord</a> or on <a href="https://github.com/openc2e">GitHub</a>.</p>

</article>
{% endif %}

{% for post in paginator.posts %}
<article class="post">
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <div class="byline">
        <time pubdate>{{ post.date | date: "%B %-d, %Y" }}</time>
        - by <address>{{ post.author }}</address>
    </div>
    {{ post.content }}
</article>
{% endfor %}