* {
    padding: 0;
	margin: 0;
}

body {
    font-family: Verdana, "Trebuchet MS", Arial, sans-serif;
    font-size: 15px;
    /* font-size: 1em; */
    background: rgb(252, 235, 213);
	padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap
}

header {
    margin-top: 10px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
}

header a:link, header a:visited, header a:active, header a:hover {
    color: rgb(140, 82, 102);
    text-decoration: none;
}

@media only screen and (min-width: 420px) {
    /* we can start showing the logo next to the header text now */
    header #logo {
        float: left;
        position: relative;
        top: 0;
        z-index: 1000;
    }
    header {
        margin-left: 0;
        text-align:left;
    }
}

@media only screen and (min-width: 650px) {
    /* large enough to show the header text properly, which means we can float the logo */
    section#content {
        margin-top: -30px;
    }
    nav {
        margin-top: -30px;
    }
    article:first-child p:first-child {
        margin-top: 10px;
    }
    article.post:first-child {
        padding-top: 30px;
    }
    /* large enough to make the footer slightly smaller */
    footer {
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 800px) {
    /* large enough to show the center the content and show nav on the right side */
    body {
        min-width: 800px;
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }
    section#content {
        flex: 1 0 600px;
    }
    nav {
        width: 180px;
    }
}

section#pagination {
    display: flex;
}
#pagination-left {
    flex: 1;
    padding-left: 1em;
}
#pagination-right {
    flex: 1;
    text-align: right;
    padding-right: 1em;
}

nav {
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 5px;
	color: #772d56;
}

nav h2 {
    font-size: 1em;
    font-weight: bold;
}

footer {
	margin-top: 10px;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
}

article {
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
}

article p:first-child {
    margin-top: 0;
}

article::after {
    clear: both;
    display: table;
    content: "";
}

article img {
    max-width: 100%;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

a:link, a:visited, a:active {
    color: rgb(140, 82, 102);
}
a:hover {
    text-decoration: underline;
}

li {
    margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 10px;
}

span.enlarge {
	font-size: 18px;
}

article h1 {
    font-size: 1.3em;
	font-weight: bold;
}

article .byline {
   color: #666;
}

article .byline address {
    display: inline;
}

/* div.code {
    border: 1px dashed #772d56;
    padding: 3px;
	padding-left: 5px;
    margin: 10px;
	clear: both;
    background-color: #e4c2d5;
    font-family: tt, courier, monospace;
} */
