<!DOCTYPE html>
<html>
<head>
    <title>openc2e - {{ page.title }}</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />

    </head>
	<body>
	    <div id="header"><a href="/" style="border: 0px"><img src="/images/header.png"/></a></div>
		<div id="middle">
		    <div id="navbar-container">
                <div id="navbar-top"></div>

                    <div id="navbar-content">
                    <!-- Put navbar stuff here -->
                    <ul class="navbar">
                        <li class="navbar"><a href="/">Home</a></li>
                    	<li class="navbar"><a href="/about">About</a></li>
                    	<li class="navbar"><a href="/screenshots">Screenshots</a></li>
                    	<li class="navbar"><a href="/download">Download</a></li>
                    	<li class="navbar"><a href="/faqs">FAQs</a></li>
                    	<li class="navbar"><a href="/developers">Developers</a></li>
                    	<li class="navbar"><a href="/lifandi">Lifandi</a></li>
                    	<li class="navbar"><a href="/links">Links</a></li>
                    </ul>
                    </div>

                <div id="navbar-bottom"></div>
            </div>
            <div id="content-container">
			
		{{ content }}


    </div>
         <div style="clear:both"></div>
     </div>
     <div id="footer">
     <i>Gameware Development, Creature Labs, CyberLife, Creatures, Creatures Adventures and Creatures Playground are registered trademarks of Gameware Development Ltd. Sea-Monkeys is a registered trademark of Transcience Corporation.</i>
     <br/><br/>
     Site designed and maintained by <a href="http://diagonalfish.net/">Eric Goodwin</a></span>
     </div>
 </body>
</html>