<!DOCTYPE html>
<html>
<head>

<title>openc2e - {{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css" type="text/css" />
<link rel="shortcut icon" href="/favicon.ico" />
{% feed_meta %}
{% seo %}

</head>
<body> 
    
        <header>
            <a href="/">
                <img id="logo" src="/images/Openc2e-logo2008-transparent.png"/>
                <h1>openc2e</h1>
                <h2>The open-source Creatures engine</h2>
            </a>
        </header>
        
        <section id="content">
            {{ content }}
            
            <section id="pagination">
                <div id="pagination-left">
                    {% if page.next.url %}
                        <a href="{{ page.next.url | relative_url }}">&laquo; Newer Post</a>
                    {% elsif paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Newer Posts</a>
                    {% endif %}
                </div>
                
                <div id="pagination-center"><a href="/">Home</a></div>
              
                <div id="pagination-right">
                    {% if page.previous.url %}
                      <a href="{{ page.previous.url | relative_url }}">Older Post &raquo;</a>
                    {% elsif paginator.next_page %}
                      <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &raquo;</a>
                    {% endif %}
                 </div>
          </section>
        </section>
        
        <nav>
            <h2>GitHub</h2>
            <ul>
                <li><a href="https://github.com/openc2e/openc2e">openc2e</a></li>
                <li><a href="https://github.com/openc2e/pycreaturestools">pycreaturestools</a></li>
            </ul>
            <h2>Discord</h2>
            <ul>
                <li><a href="https://discord.gg/rWFC3b3">CAOS Coding Cave</a></li>
                <li><a href="https://discord.gg/Zm8cJGP">Norn Nebula</a></li>
                <li><a href="https://discord.gg/j5b8vKu">Creatures Discord</a></li>
                <li><a href="https://discord.gg/JjxVM9U">CCSF Discord</a></li>
                <li><a href="https://discord.gg/MYa3fvnNYX">Eem Foo's Archive</a></li>
            </ul>
            <h2>Other</h2>
            <ul>
                <li><a href="https://creatures.wiki/">Creatures Wiki</a></li>
                <li><a href="/old/">Old website</a></li>
            </ul>
        </nav>

         <footer>
             Subscribe to: <a href="{{ site.feed.path }}">Posts (Atom)</a>
         </footer>
    
 </body>
</html>
